
        <div class="jumbotron">
                <h1 class="display-4">Welcome to book base</h1>
                <p class="lead">You have access to your book liste from which you can choose your favourites.<br>
                Whole Book List saves localy in your browser. That is why you can have access to them via your computer.<br></p>
               <p class="lead">You can: </p>
               <ul class="lead">
                    <li>Add new books</li>
                    <li>Search your base</li>
                    <li>Add books in favorite</li>
               </ul> 
              <p class="lead">I hope you will have fun with this application. </p>  
                <hr class="my-4">
                <div class="d-flex justify-content-between">
                                <i class="fas fa-book-open fa-2x" routerLink="/booklist" style="cursor: pointer"> Book List</i>
                                <i class="fas fa-plus fa-2x" routerLink="/booklist/newbook/0" style="cursor: pointer"> Add Book</i>
                                <i class="fas fa-hand-holding-heart fa-2x" routerLink="/favourites" style="cursor: pointer">Favourite List</i>
                </div>

              </div>
